@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 20%;">Desafio CRUD de Fornecedores da Guiando.</h1>
    <p>Tecnologias utilizadas: .Net, Entity Framework CLI, Pacotes Nuget, <strong>MySQL</strong>, Javascript, Bootstrap e Visual Studio Code. </a>.</p>
</div>
